.pagination {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  .page {
    padding: 9px 14px 9px 14px;
    border-radius: 100%;
    background-color: #B2DCDA;
    border: 2px solid #B2DCDA;

    &:hover {
      background-color: white;
      border: 2px solid #005260;
      color: #005260;
      cursor: pointer;
    }

    &.active {
      border: 2px solid black;
      color: black;
      cursor: default;

      &:hover {
        background-color: #B2DCDA;
        border: 2px solid black;
        color: black;
      }
    }
  }
}
