@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.typography {
  position: inherit;
}

.person-card {
  position: inherit;

  .text-wrapper {
    .other {
      .extra-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 8px;
      }
    }
  }
}

.documents-container {
  .documents {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .document {
      background-color: #F5F5F5;
      box-shadow: 0 15px 13px 0 rgba(0, 0, 0, 0.1);
      padding: 10px 10px 10px 10px;

      .document-header {
        font-weight: bold;
        padding-bottom: 2px;
        margin-bottom: 10px;
        font-size: large;
        border-bottom: 1px solid grey;
      }

      & .icon > svg {
        display: inherit;
      }

      .toggle {
        margin-top: 20px;
        &:hover {
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        gap: 5px;
        padding-bottom: 3px;

        .info-header {
          font-weight: bold;
        }
      }

      .file {
        margin-top: 10px;

        &:hover {
          background-color: #B2DCDA;
        }
      }

      .empty-file {
        margin-top: 10px;
        padding-left: 28px;
      }

      .link {
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding-left: 30px;
        color: $stein-3;
      }
    }
  }
}

.error {
  padding-top: 24px;
  text-align: center;
}

@media print {
  .pdf-document {
    display: none;
  }
}
