@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.layout {
  height: 100%;

  .header {
    background-color: #ebe6d6;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 65px;
    padding-top: 5px;
    padding-left: 10px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 10 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

    .logo {
      display: flex;
      flex-grow: 1;
      align-items: center;

      .image, .text {
        cursor: pointer;
      }

      .text {
        padding-left: 15px;
      }
    }

    nav {
      display: flex;
      gap: 24px;
      margin-right: 24px;
      align-self: center;

      .icon-dropdown-nav {
        align-self: center;
      }
    }
  }

  .content {
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .footer {
    background-color: #005260;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;

    .text {
      align-self: center;
      margin-left: auto;
      margin-right: auto;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
